
@{
    ViewBag.Title = "ManageSystem";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}

<h2>Manage System</h2>

<div class="list-group text-center">
    <a href="~/Admin/CalibrateCommentLike" class=" list-group-item">Calibrate Comment Like Count</a> <br/>

    <a href="~/Admin/CalibrateCommentDislike" class=" list-group-item">Calibrate Comment Dislike Count</a> <br />

    <a href="~/Admin/CalibrateThreadLike" class=" list-group-item">Calibrate Thread Like Count</a> <br />

    <a href="~/Admin/CalibrateThreadDislike" class=" list-group-item">Calibrate Thread Dislike Count</a> <br />

    <a href="~/Admin/CalibrateStatusLike" class="list-group-item">Calibrate Status Like Count</a> <br />

    <a href="~/Admin/CalibrateStatusDislike" class="list-group-item">Calibrate Status Dislie Count</a> <br />
</div>

