@{
    ViewBag.Title = "Home Page";
}


<h2>Forum1.0</h2>

<h3>Forum Application</h3>
<div class="jumbotron">
    <ul>
        <li class="list-group-item"> •	Viewers will be able to register their account.</li>
        <li class="list-group-item"> •	Registration form allows to check the availability of the username.</li>
        <li class="list-group-item"> •	The user will be able to login to their respective accounts.</li>
        <li class="list-group-item"> •	They will be able to request to any existing groups for membership.</li>
        <li class="list-group-item"> •	They can create a new thread.</li>
        <li class="list-group-item"> •	They will be able to comment to the threads.</li>
        <li class="list-group-item"> •	Users can like and dislike the comments.</li>
        <li class="list-group-item"> •	Admins can accept or Deny membership request.</li>
        <li class="list-group-item"> •	Admins can start a thread.</li>
        <li class="list-group-item"> •	Admins can create group.</li>
    </ul>
</div>
