
@{
    ViewBag.Title = "Logout";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}

<div class="text-center">
    <h2> Are you sure you want to Log Out ?</h2>

    <div class="btn btn-danger">
        <a href="~/Account/LogoutConfirm">
            <h4>YES</h4>
        </a>
    </div>

    <div class="btn btn-success">
        <a href="~/Account/Home">
            <h4>NO</h4>
        </a>
    </div>
</div>
